**MLZoomcamp Homework 3**

In [1]:
#Download dataset
#!wget -P /home/jovyan/datasets https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

In [2]:
#Impor libraries
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
#Get data
df = pd.read_csv("/home/jovyan/datasets/housing.csv")

In [4]:
#Initial EDA
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
#Fill in missing values
df["total_bedrooms"].fillna(0, inplace=True)

In [7]:
#Rooms per household
df["rooms_per_household"] = df["total_rooms"]/df["households"]

In [8]:
#Bedrooms per room
df["bedrooms_per_room"] = df["total_bedrooms"]/df["total_rooms"]

In [9]:
#Population per household
df["population_per_household"] = df["population"]/df["households"]

**Question 1**

In [10]:
df["ocean_proximity"].mode()

0    <1H OCEAN
Name: ocean_proximity, dtype: object

**Question 2**

In [11]:
df[['latitude', 'longitude','housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 
    'median_house_value', 'ocean_proximity', 'population_per_household']].corr()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,population_per_household
latitude,1.000000,-0.924664,0.011173,-0.036100,-0.065318,-0.108785,-0.071035,-0.079809,-0.144160,0.002366
longitude,-0.924664,1.000000,-0.108197,0.044568,0.068082,0.099773,0.055310,-0.015176,-0.045967,0.002476
housing_median_age,0.011173,-0.108197,1.000000,-0.361262,-0.317063,-0.296244,-0.302916,-0.119034,0.105623,0.013191
total_rooms,-0.036100,0.044568,-0.361262,1.000000,0.920196,0.857126,0.918484,0.198050,0.134153,-0.024581
total_bedrooms,-0.065318,0.068082,-0.317063,0.920196,1.000000,0.866266,0.966507,-0.007295,0.049148,-0.028019
population,-0.108785,0.099773,-0.296244,0.857126,0.866266,1.000000,0.907222,0.004834,-0.024650,0.069863
households,-0.071035,0.055310,-0.302916,0.918484,0.966507,0.907222,1.000000,0.013033,0.065843,-0.027309
median_income,-0.079809,-0.015176,-0.119034,0.198050,-0.007295,0.004834,0.013033,1.000000,0.688075,0.018766
median_house_value,-0.144160,-0.045967,0.105623,0.134153,0.049148,-0.024650,0.065843,0.688075,1.000000,-0.023737
population_per_household,0.002366,0.002476,0.013191,-0.024581,-0.028019,0.069863,-0.027309,0.018766,-0.023737,1.000000

**Make median_house_value binary**

In [12]:
#Above Average
df["above_average"] = df["median_house_value"]>df["median_house_value"].mean()
df["above_average"] = df["above_average"].astype(int)

In [13]:
from sklearn.model_selection import train_test_split
df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

In [14]:
#Reset indices
df_train_full.reset_index(drop=True)
df_train.reset_index(drop=True)
df_val.reset_index(drop=True)
df_test.reset_index(drop=True)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household,above_average
0,-119.01,36.06,25.0,1505.0,0.0,1392.0,359.0,1.6812,47700.0,INLAND,4.192201,0.000000,3.877437,0
1,-119.46,35.14,30.0,2943.0,0.0,1565.0,584.0,2.5313,45800.0,INLAND,5.039384,0.000000,2.679795,0
2,-122.44,37.80,52.0,3830.0,0.0,1310.0,963.0,3.4801,500001.0,NEAR BAY,3.977155,0.000000,1.360332,1
3,-118.72,34.28,17.0,3051.0,0.0,1705.0,495.0,5.7376,218600.0,<1H OCEAN,6.163636,0.000000,3.444444,1
4,-121.93,36.62,34.0,2351.0,0.0,1063.0,428.0,3.7250,278000.0,NEAR OCEAN,5.492991,0.000000,2.483645,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4123,-117.22,33.36,16.0,3165.0,482.0,1351.0,452.0,4.6050,263300.0,<1H OCEAN,7.002212,0.152291,2.988938,1
4124,-120.83,35.36,28.0,4323.0,886.0,1650.0,705.0,2.7266,266800.0,NEAR OCEAN,6.131915,0.204950,2.340426,1
4125,-122.05,37.31,25.0,4111.0,538.0,1585.0,568.0,9.2298,500001.0,<1H OCEAN,7.237676,0.130868,2.790493,1
4126,-119.76,36.77,36.0,2507.0,466.0,1227.0,474.0,2.7850,72300.0,INLAND,5.289030,0.185880,2.588608,0
4127,-118.37,34.22,17.0,1787.0,463.0,1671.0,448.0,3.5521,151500.0,<1H OCEAN,3.988839,0.259093,3.729911,0

In [15]:
#Obtain y for logistic regression
y_train_full = df_train_full["above_average"].values
y_train = df_train["above_average"].values
y_val = df_val["above_average"].values
y_test = df_test["above_average"].values

#Obtain new y for linear regression (Q6)
y_train_linear = df_train["median_house_value"].values
y_val_linear = df_val["median_house_value"].values

In [16]:
#Drop y from training and test sets
df_train_full.drop(["median_house_value", "above_average"], axis=1, inplace=True)
df_train.drop(["median_house_value", "above_average"], axis=1, inplace=True)
df_val.drop(["median_house_value", "above_average"], axis=1, inplace=True)
df_test.drop(["median_house_value", "above_average"], axis=1, inplace=True)

**Question 3**

In [17]:
#Mutual info score for Ocean Proximity
from sklearn.metrics import mutual_info_score
round(mutual_info_score(df_train["ocean_proximity"],y_train),2)

0.1

**Question 4**

In [18]:
#One hot encoding
from sklearn.feature_extraction import DictVectorizer
train_dict = df_train.to_dict(orient='records')
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)
X_train = dv.transform(train_dict)
X_train.shape

(12384, 16)

In [19]:
#Train logistic regression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [20]:
#Accuracy on validation set

#One hot encoding to obatain X_val
val_dict = df_val.to_dict(orient='records')
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)
X_val = dv.transform(val_dict)

#Calculate predicted y
y_val_pred = model.predict_proba(X_val)[:,1]
y_val_pred

#Accuracy
y_val_above_average = y_val_pred>0.5
accuracy = (y_val == y_val_above_average).mean()
round(accuracy, 2)

0.84

**Question 5**

In [21]:
for var in df_train.columns:
    
    df_train_adjusted = df_train.drop(var, axis=1)
    train_adjusted_dict = df_train_adjusted.to_dict(orient='records')
    dv = DictVectorizer(sparse=False)
    dv.fit(train_adjusted_dict)
    X_train_adjusted = dv.transform(train_adjusted_dict)
    
    #Train logistic regression
    model_adjusted = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
    model_adjusted.fit(X_train_adjusted, y_train)
    
    #One hot encoding to obatain X_val
    df_val_adjusted = df_val.drop(var, axis=1)
    val_adjusted_dict = df_val_adjusted.to_dict(orient='records')
    dv = DictVectorizer(sparse=False)
    dv.fit(val_adjusted_dict)
    X_val_adjusted = dv.transform(val_adjusted_dict)
        
    #Calculate predicted y
    y_val_pred_adjusted = model_adjusted.predict_proba(X_val_adjusted)[:,1]
    y_val_pred_adjusted

    #Accuracy
    y_val_above_average_adjusted = y_val_pred_adjusted>0.5
    accuracy_adjusted = (y_val == y_val_above_average_adjusted).mean()
    
    print("Feature eliminated:", var, "Difference in accuracy:", accuracy-accuracy_adjusted)

Feature eliminated: longitude Difference in accuracy: 0.00024224806201555982
Feature eliminated: latitude Difference in accuracy: 0.0021802325581395943
Feature eliminated: housing_median_age Difference in accuracy: 0.004844961240310086
Feature eliminated: total_rooms Difference in accuracy: -0.0014534883720930258
Feature eliminated: total_bedrooms Difference in accuracy: 0.00024224806201555982
Feature eliminated: population Difference in accuracy: 0.008963178294573715
Feature eliminated: households Difference in accuracy: 0.0014534883720930258
Feature eliminated: median_income Difference in accuracy: 0.04844961240310086
Feature eliminated: ocean_proximity Difference in accuracy: 0.015746124031007835
Feature eliminated: rooms_per_household Difference in accuracy: -0.0007267441860464574
Feature eliminated: bedrooms_per_room Difference in accuracy: -0.0014534883720930258
Feature eliminated: population_per_household Difference in accuracy: -0.001211240310077466

**Question 6**

In [26]:
#define function to calculate RMSE
def rmse(y, y_pred):
    error = y_pred - y
    mse = (error ** 2).mean()
    return np.sqrt(mse)

In [27]:
from sklearn.linear_model import Ridge

#Train linear regression
for a in [0, 0.01, 0.1, 1, 10]:
    model = Ridge(alpha=a, solver="sag", random_state=42)
    model.fit(X_train, y_train_linear)
    score = rmse(y_val_linear, model.predict(X_val))
    print("For alpha:", a, "RMSE:", score)

For alpha: 0 RMSE: 106337.77491731168
For alpha: 0.01 RMSE: 106337.77492055624
For alpha: 0.1 RMSE: 106337.77495137841
For alpha: 1 RMSE: 106337.77526122272
For alpha: 10 RMSE: 106337.77835479894