In [1]:
import numpy as np
import pandas as pd

Question 1

In [2]:
#Numpy version
np.__version__

'1.22.4'

In [3]:
#Read data
df = pd.read_csv("/home/jovyan/work/data.csv")

Question 2

In [4]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [5]:
#Number of records and variables
df.shape

(11914, 16)

Question 3

In [6]:
#Top Makers
df["Make"].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

Question 4

In [7]:
#Unique Audi models
df[df["Make"]=="Audi"]["Model"].nunique()

34

Question 5

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

Question 6

In [9]:
#Engine Cylinders - median
print("Median:", df["Engine Cylinders"].mean())
#Engine Cylinders - mode
print("Mode:", df["Engine Cylinders"].mode())
#Fill na
#df["Engine Cylinders"].fillna(value=df["Engine Cylinders"].mode())
df["Engine Cylinders"].fillna(value=4.0)
#New mean
print(" New Median:", df["Engine Cylinders"].mean())

Median: 5.628828677213059
Mode: 0    4.0
Name: Engine Cylinders, dtype: float64
 New Median: 5.628828677213059

Question 7

In [10]:
#Select all the "Lotus" cars from the dataset
#Select only columns "Engine HP", "Engine Cylinders"
df1=df[df["Make"]=="Lotus"][["Engine HP", "Engine Cylinders"]]
#Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
df1.drop_duplicates(inplace=True)
#Verify
df1.head(30)

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [11]:
#Numpy array
X = df1.to_numpy()

In [12]:
#Matrix multiplication to obtain XTX
XTX = np.matmul(np.matrix.transpose(X),X)

In [13]:
#Inverse of XTX
XTXInv = np.linalg.inv(XTX)

In [14]:
#Vector y
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [15]:
#Matrix multiplication to obtain w
a = np.matmul(XTXInv, np.matrix.transpose(X))
w = np.matmul(a,y)
w

array([  4.59494481, -63.56432501])